@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 35s linear infinite;
}

#card-slider {
    display: flex;
    width: fit-content;
}

.overflow-hidden {
    overflow: hidden;
}