@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body, input, textarea, select, option {
  background-color: rgb(0, 0, 0);
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
  width: 1px;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff99; /* Cor do rastreamento quando o mouse está sobre ele */
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ffffff; /* Cor da barra de rolagem quando não está ativa */
}

*{
  color: #ffffff;
}


